gunicorn==19.9.0
psycopg2==2.7.6.1
django==2.1.4
djangorestframework==3.9.0
django-filter==2.0.0
elastic-apm==4.0.3
boto3==1.6.7
django-storages==1.7.1
celery==4.2.1
requests==2.21.0
redis==2.10.6
django-redis-cache==1.8.1
hiredis==0.3.1
